<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "Back Home", restaurants_path %></p>
<p><%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>

<h3>HERE ARE ALL THE REVIEWS:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>
